.experiencia {
  max-width: 1400px;
  padding: 4rem 14rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25rem;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 2rem;
  line-height: 1.33;
  margin-bottom: 6rem;
  max-width: 40ch;
  color: #525252;
}
.experiencia-texto strong {
  color: #141414;
}

.empresas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  background: #f5f5f5;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  position: relative;
  gap: 1rem 2rem;
}

.empresa-ano {
  position: absolute;
  left: -10rem;
  top: 2rem;
  color: #525252;
  font-size: 1.6rem;
  width: 8rem;
  text-align: right;
}

.empresas::before {
  content: "";
  position: absolute;
  background-image: url(/img/detalhe2.svg);
  display: block;
  width: 0.5rem;
  height: 1.6rem;
  left: -0.3rem;
  top: 2rem;
}

.empresa-titulo {
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 1.4rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 1.4rem;
  line-height: 1.4;
  border-radius: 0.4rem;
  background: #ffff;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 950px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.6rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media screen and (max-width: 650px) {
  .empresas {
    grid-template-columns: 1fr;
  }
}
