@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

html{
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  /* 1 rem = 10px */
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitulo {
  font-size: 11rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}


@media screen and (max-width: 950px){

  .subtitulo {
  font-size: 3.5rem;
  text-transform: capitalize;
  max-width: initial;
  }
}

@media screen and (max-width: 476px){

  .introducao{
    padding: rem;
  }

}